<style>
.titree {
    font-size: 100px;
    color: gold;
}
.cadre { 
	margin-left: 150px;
	margin-right: 150px;
    margin-top: 100px;
	border-top : 1px solid #eeeeee;
	border-right : 2px solid #cccccc;
	border-bottom : 2px solid #cccccc;
	border-left : 1px solid #eeeeee;
	font-size: 42px;
	color: #ffffff;
	background: rgba(10, 10, 10, 0.5);
    padding: 30px,40px,30px,40px;

 }
.images {
    margin: 65px;
    border: 4px solid #ccc;
    float: right;
    width: 300px;
}

.images:hover {
    border: 1px solid #777;
}

.images img {
    width: 100%;
    height: auto;
}

.type {
    padding: 5px;
    text-align: center;
    background: rgba(80, 08, 00, 0.5);
    color: blue;
    font-size: 24pt;
}
.desc
{
    margin-top: 400px;
    border: 4px solid #504;
    float: center;
    width: 1200px;
    padding: 30px;
    text-align: center;
    font-size: 22pt;
    background: rgba(80, 08, 00, 0.5);
}
.titre
{
    border: 4px solid #504;
    float: center;
    width: 500px;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 22pt;
    background: rgba(80, 08, 00, 0.5);
}
.images {
    margin: 65px;
    border: 4px solid #ccc;
    float: right;
    width: 300px;
}

.images:hover {
    border: 1px solid #777;
}

.images img {
    width: 100%;
    height: auto;
}

.type {
    padding: 5px;
    text-align: center;
    background: rgba(80, 08, 00, 0.5);
    color: blue;
    font-size: 24pt;
}
.desc
{
    margin-top: 0px;
    border: 4px solid #504;
    float: center;
    width: 1200px;
    padding: 30px;
    text-align: left;
    font-size: 22pt;
    background: rgba(80, 08, 00, 0.5);

}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 16px 8px;
    cursor: pointer;
}

.accueil {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.accueil:hover {
    background-color: #4CAF50;
    color: white;
}

.reservation {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.reservation:hover {
    background-color: #008CBA;
    color: white;
}

.ville {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.ville:hover {
    background-color: #f44336;
    color: white;
}

.chambres {
    background-color: white;
    color: black;
    border: 2px solid #ff6600;
}

.chambres:hover {
    background-color: #ff6600;
    color: white;
}
.services {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.services:hover {
    background-color: #555555;
    color: white;
}
.form {
      margin-top: 40px;
      margin-left: 100px
      margin-right: 100px   ;
    border: 5px solid #458;
   float: left;
    /*width: 100px;
    /*padding: 150px;*/
    text-align: left;
    font-size: 18pt;
    background: rgba(158, 110, 66, 0.7);
    color: #ffffff;
}
body {
    background: url(src/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.descville { 
    float: center;
   width: 1250px;
   height: 100;
    border-top : 1px solid #eeeeee;
    border-right : 2px solid #cccccc;
    border-bottom : 2px solid #cccccc;
    border-left : 1px solid #eeeeee;
    font-size: 24px;
    color: #ffffff;
    background: rgba(10, 10, 10, 0.5);
    padding: 30px,40px,30px,40px;
}
nav {
    font-size: 24px;
    color: white;
    background: black;
}
.ENVOYER {
    float: right;
    font-size: 18pt;
    background-color: #554465;
    width: 150px;
    height: 50px;
}
.res {
    margin-top: 800px;
}
</style>